.grid {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;

	@media(width >=1200px) {
		margin-bottom: 60px;
	}

	.headline {
		margin-top: 0;
		margin-bottom: 16px;
		font-weight: var(--fontWeightSemiBold);
		font-size: 22px;
		color: var(--colorWhite);
		text-shadow: var(--textShadow);

		@media(width >=1200px) {
			font-size: 28px;
		}
	}

	.items {
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(2, 1fr);

		@media(width >=768px) {
			gap: 16px;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.link {
		margin-top: 14px;
		place-self: flex-end;
		font-weight: var(--fontWeightSemiBold);
		font-size: 16px;
		color: var(--colorWhite);
		text-decoration: none;
		transition: var(--transitionSpeed) color linear;

		&:hover {
			color: var(--colorRed);
		}

		@media(width >=1200px) {
			font-size: 20px;
		}
	}
}