.movie-grid {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.movie-grid-headline {
	margin-top: 0;
	margin-bottom: 16px;
	font-weight: var(--fontWeightBold);
	font-size: 22px;
	letter-spacing: 0.03rem;
	color: var(--colorWhite);

	@media(width >=1200px) {
		font-size: 26px;
	}
}

.movie-grid-items {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(2, 1fr);

	@media(width >=1200px) {
		gap: 16px;
		grid-template-columns: repeat(4, 1fr);
	}
}

.movie-grid-link {
	margin-top: 12px;
	place-self: flex-end;
	font-weight: var(--fontWeightSemiBold);
	font-size: 16px;
	color: var(--colorWhite);
	text-decoration: none;
	transition: var(--transitionSpeed) color linear;

	&:hover {
		color: var(--colorRed);
	}

	@media(width >=1200px) {
		font-size: 18px;
	}
}