@import 'normalize.css';
@import './variables.css';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	font-family: var(--fontFamily);
	font-weight: var(--fontWeightReg);
	font-size: var(--fontSize);
	background-color: var(--colorDarkGray);
}