:root {
	--colorRed: #E50914;
	--colorDarkGray: #141414;
	--colorLightGray: #BDBDBD;
	--colorGray: #545454;
	--colorWhite: #fff;

	--fontFamily: 'Inter', sans-serif;
	--fontWeightReg: 400;
	--fontWeightMedium: 500;
	--fontWeightSemiBold: 600;
	--fontWeightBold: 700;
	--fontSize: 16px;

	--roundedCorner: 6px;

	--transitionSpeed: 0.2s;

	--textShadow: 0px 0px 15px rgba(20, 20, 20, .95);
}