:root {
	--colorRed: #E50914;
	--colorDarkGray: #141414;
	--colorGray: #545454;
	--colorWhite: #fff;

	--fontFamily: 'Inter', sans-serif;
	--fontWeightReg: 400;
	--fontWeightMedium: 500;
	--fontWeightSemiBold: 600;
	--fontWeightBold: 700;
	--fontSize: 16px;

	--transitionSpeed: 0.2s;

	--textShadow: 4px 4px 20px rgba(20, 20, 20, 0.75);
}