.header {
	position: fixed;
	width: 100%;
	top: 0;
	padding-top: 36px;
	padding-bottom: 36px;
	z-index: 100000;
	background-color: transparent;
	transition: var(--transitionSpeed) background-color linear,
		var(--transitionSpeed) padding linear;
	;

	&.hasBg {
		padding-top: 16px;
		padding-bottom: 16px;
		background-color: var(--colorDarkGray);
	}

	.content {
		display: flex;
		place-items: center;
	}
}