.footer {
	margin-top: auto;
	/* this "fixes" the footer to bottom of page */

	.content {
		display: flex;
		place-items: center;
		margin-top: auto;
		padding-top: 50px;
		padding-bottom: 60px;
		border-top: 1px solid var(--colorGray);

		@media(width >=1024px) {
			margin-top: 120px;
			padding-bottom: 74px;
		}

		.logoContainer {
			display: block;
			width: fit-content;
			margin-right: 38px;
		}

		.nav {
			display: none;

			@media(width >=1024px) {
				display: flex;
			}

		}

		.navItem {
			margin-right: 30px;
			font-weight: var(--fontWeightSemiBold);
			font-size: 18px;
			color: var(--colorWhite);
			text-decoration: none;
			transition: var(--transitionSpeed) color linear;

			&:hover {
				color: var(--colorRed);
			}
		}

		.githubLink {
			margin-left: auto;
		}
	}
}